@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@* Indicamos el modelo de la vista *@
@model Ejercicio03.Models.ViewModel.clsPersonaDepartamento
@using Ejercicio03.Models.Entities;


@*Enlaces para volver atrás*@
@Html.ActionLink("Página Principal", "Index", "Home")

<div class="text-center">

    @*Le digo que vaya a la vista que quiera con la vista correspondiente*@
    <form asp-action="GuardarPersona">

        <input type="hidden" name="IdPersona" value="@Model.IdPersona"  />

        <label for="Nombre">Nombre:</label>

        @*Hacemos el textbox del nombre*@
        @Html.TextBoxFor(model=>model.Nombre)

        <label for="Apellidos">Apellidos:</label>

        @*Textbox apellidos*@
        @Html.TextBoxFor(model=>model.Apellidos)


        <label for="departamentos">Selecciona el departamento: </label>
        <select name="IdDepartamento">
            @{
                foreach (clsDepartamento departamento in Model.ListaDepartamentos)
                {
                    @if (Model.IdDepartamento==departamento.IdDepartamento){

                        <option selected= value=@departamento.IdDepartamento> @departamento.NombreDepartamento</option>

                    } else
                    {
                        <option value=@departamento.IdDepartamento> @departamento.NombreDepartamento</option>
                    }

                }
            }
        </select>

        <input type="submit" value="Guardar" />

    </form>
</div>



