@{
    ViewData["Title"] = "Home Page";
}

@using MandalorianoB.Entidades;
@model MandalorianoB.Models.ViewModel.clsListadoMisionesVM

<div class="text-center">
    <h1 class="display-4">Listado de misiones</h1>
   <br />

   @*Formulario que muestra el listado de misiones y devuelve el id 
       de la misión seleccionada.
   *@

   <form method="post">
       <label>Misión:</label>

       @*Esto es lo que le va a llegar al controler*@
       <select name="idMision">

           @*En caso de que todavía no se haya seleccionada nada*@
           <option value="NONSELECTEDVALUE">Elija una misión</option>

           @*Recorremos la lista de misiones*@
            @foreach(clsMision mision in Model.ListadoMisiones)
            {
               <option value="@mision.Id">@mision.Titulo</option>
                
            }
            

       </select>

        @*Ahora, hacemos el botón*@
        <input type="submit" value="Detalles" />
        <br/>
        <br/>

    </form>

      

    @*Hacemos un if, porque la vista tiene por defecto el id a 0, en cuanto cambie ese id pues se muestra*@
    @if (Model.MisionActual.Id>0)
    {
        <h4>@Model.MisionActual.Titulo</h4>
        <br />
        <h4>@Model.MisionActual.Descripcion</h4>
        <br />
        <h4>Recompensa: @Model.MisionActual.Creditos créditos</h4>

    }
    

   </div>