@model Ejercicio03.Models.ViewModels.clsDetallesVM

@{
    ViewData["Title"] = "Details";
}

<h1>Datos</h1>

<br/>
<p>Nombre: @Model.Persona.Nombre</p>
<br/>
<p>Apellidos: @Model.Persona.Apellidos</p>
<br />
<p>Dirección: @Model.Persona.Direccion</p>
<br />
<p>Teléfono: @Model.Persona.Tlf</p>
<br />
<p>Imagen: @Model.Persona.FotoURL</p>
<br />
<p>Nombre Departamento: @Model.Nombre</p>
<br />

@*Le ponemos un enlace pa que vaya patrás.*@
@Html.ActionLink("Listado de personas", "Index")