@{
    ViewData["Title"] = "Home Page";
}
@*Llamamos al modelo y los using que nos hagan falta*@
@using Biblioteca;
@model Ejercicio03.Models.ViewModels.clsListadoPersonasVM;


@*Aquí mostramos el listado personas*@
<h1>Lista de personas</h1>

@try {
    <table class="table">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Persona.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persona.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persona.Tlf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persona.Direccion)
                </th>               
                <th>
                    @Html.DisplayNameFor(model => model.Persona.FotoURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Persona.FechaNac)
                </th>
                
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListadoPersonas)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tlf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FotoURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNac)
                    </td>
                    <td>

                        @Html.ActionLink("Edit", "Edit", new { id=item.IdPersona }) |
                        @Html.ActionLink("Details", "Details", new {  id=item.IdPersona }) |
                        @Html.ActionLink("Delete", "Delete", new {  id=item.IdPersona })

                    </td>
                </tr>
            }
        </tbody>

    </table>
    @*TODO:Preguntarle a Fernando por el error y por cómo mostrar el nombreDepartamento en la tabla*@
} catch (Exception ex)
{
    ErrorViewModel.mensajeError();   
}
